@import "tailwindcss";

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: #c7d6ff;
    }

    h1, h2, h3 {
        font-family: 'Playfair Display Black', serif;
    }
    
    [data-aos="fade"] {
        transform: none !important;
    }
}